form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
fieldset {
    border: none;
    padding: 2rem 2rem;
    margin-top: 4rem;
    border-bottom: 3px solid #3b3b4f;
    background-color: #ffb41f;
    border-radius: 10px;
}
label {
    display: block;
    margin: 0.5rem 0;
    color: #011627;
    font-size: large;
}
input,
textarea,
select,button {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-radius: 10px;
}

footer {
    background-color: #ffb41f;
    height: 150px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

