body{
    background-color: #e2c2ff;
}
header{
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;    
    border-bottom: 1px solid #011627;
    margin: -10px -10px;
    background-color: #ffb41f;
    height: 150px;
}
nav{
    align-content: center;
}
li{
    list-style-type: none;
}
.logo{
    margin-top: 0px;
    width: 200px;
    border: 0;
}
.Download_CV{
    color: #011627;
    background-color: #e2c2ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px #011627 ;
    position: absolute;
    right: 25px;
    top:75px;
    border: 0px;
    
}
.Download_CV:active{
    border: 1px solid #011627;
    box-shadow: 0 0;
    right: 30px;
    top: 80px;
    color: #011627;
}
